.container {
    background-color: #282c34;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.space{
    height: 10vh;
}

.space2{
  height: 5vh;
}

.detail-pane{
  background-color: white;
  position: relative;
  padding: 10%;
  color: #282c34;
}

.grid-column{
  border-right: 2px solid #282c34;
  color: #282c34;
  min-width: 200px;
  overflow: hidden;
}

.label-row{
 margin-top: 5px!important;
}

.other-cities{
  background-color: #f5f5f5!important;
}

.other-cities-container{
  margin: 5% !important;
}

@media only screen and (max-width: 768px) {
  .grid-column{
    border-right: 0;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
    justify-content: center;
    align-content: center;
    min-width: 200px;
    overflow: hidden;
  }
}